[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Admin = "*"
py-gfm = "*"
gunicorn = "*"
Flask-Login = "*"


[dev-packages]

