/* COLOURS
    * primary: white (#ffffff)
    * shades of grey: 
        * emphasise: #3e4349
        * less emphasis: #aaaaab
    * call to action: 
 */

body {
    width: 960px;
    margin: 0 auto;
    padding: 40px 20px 0;
    font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #3e4349  ;
}

header {
    font-size: 50px;
    margin-left: 300px;
    margin-top: 70px;
    line-height: 30px;
}

.top {
    font-weight: bold;
    padding-bottom: 0px;
}

.bottom {
    color: #aaaaab;
    font-weight: medium;
    font-size: 30px;
    padding-top: 0px;
}

main {
    margin-left: 300px;
    margin-top: 56px;
}
nav {
    position: fixed;
    top: 222px;
    width: 250px;
    line-height: 52px;
    text-align: right;
    font-family: 'Raleway Medium', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #aaaaab;
} 
nav a:link {
    text-decoration: none;
    color: #aaaaab;
    display: block;
}
/* TODO doesn't seem to work */
/* nav a:visited {
    text-decoration: none;
    color: #3a3a3c;
} */

.post-title {
    font-size: 30px;
    color: #aaaaab;
}

.post-date {
    font-size: 20px;
    color: #aaaaab;
}

body .contact-info-key {
    float: left;
}

body .contact-info-value {
    float: left;
    margin-left: 15%;
    color: #aaaaab;
}

@media(max-width:960px) and (min-width:690px) {
    body {
        width: auto;
    }

}
@media(max-width:690px) {
    body {
        width: auto;
    }
    nav { /*TODO Should become a one-row*/
        position: static;
    }
    nav a:link {
        display: inline;
    }
}

blockquote {
    background-color: black;
    color: white;
}