<!doctype html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Smallblog</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">     
	<link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body>
    {% include 'navtab.html' %}
    <header>
        <span class="top">Hi, I'm William</span>.
        <br>
        <span class="bottom">I code. I talk about it, sometimes.</span>
    </header>
    <main class="textzone">
        {% block content %}
        <p>Content to be displayed</p>
        {% endblock content %}
    </main>
</body>
</html>